
@import url(reset.css);
@import url(fonts.css);

:root {
	--font-color: #fff;
	--main-background: #131212;
	--color-link: #d75828;
	--color-link-hover: #fff;
	--work-title: #443933;
	--font-color: #ffffff;
	--color-gallery-link: #fff;
	--main-color: #026cf9;
	--color-gallery-link-hover: #fff;
	--main-color-hover: #395bb5;
	color: var(--font-color);
	background-color: var(--main-background);
	--cursor-stroke: none;
	--cursor-fill: #ffffff;
	--cursor-stroke-width: 1px;
    --main-font: 'BebasNeue-Regular';
    --sub-font : 'Poppins';
}

body{
    font-size: var(--main-font);
    height:100vh;
}

/* :root{
    --main-background: #131212;
    --main-blue: #026cf9;
    --work-title: #443933;
    --font-color: #fff;  
    --main-font: 'BebasNeue-Regular';
    --sub-font : 'Poppins';
    --menu-background: #F2F3F4; 
} */

/* base */
html.has-scroll-smooth {
	overflow: hidden; }
  
  html.has-scroll-dragging {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; }
  
  .has-scroll-smooth body {
	overflow: hidden; }
  
  .has-scroll-smooth [data-scroll-container] {
	min-height: 100vh; }
  
  [data-scroll-direction="horizontal"] [data-scroll-container] {
	white-space: nowrap;
	height: 100vh;
	display: inline-block;
	white-space: nowrap; }
  
  [data-scroll-direction="horizontal"] [data-scroll-section] {
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	height: 100%; 
}

/* base */

.gallery {
	display: flex;
	margin-left: 12vw;
	padding-right: 12vw;
}

.gallery__item {
	margin: 0 3vw;
	display: grid;

	grid-template-columns: 8rem 21vmax;
	grid-template-rows: 8rem 28vmax 3rem;
	will-change: transform;
}

.gallery__item:nth-child(1){
	background: url(images/work01.jpg) no-repeat ;
}

.gallery__item:nth-child(2){
	background: url(images/work02.jpg) no-repeat ;
}
.gallery__item:nth-child(3){
	background: url(images/work03.jpg) no-repeat ;
}
.gallery__item:nth-child(4){
	background: url(images/work04.jpg) no-repeat ;
}
.gallery__item:nth-child(5){
	background: url(images/work05.jpg) no-repeat ;
}
.gallery__item:nth-child(6){
	background: url(images/work06.jpg) no-repeat ;
}
.gallery__item-img:nth-child(7){
	background: url(images/work07.jpg) no-repeat ;
}

.gallery__item:nth-child(even) {
	padding-top: 10vh;
}

.gallery__item-img {
	/* grid-area: gallery-image; */
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	will-change: transform;
}

.gallery__item-imginner {
	background-size: cover;
    background-position: 50% 0;
    width: 100%;
    height: calc(100% + 14vh);
	margin-top: -7vh;
	will-change: transform;
}

.gallery__item-caption {
	grid-area: 1 / 1 / 4 / 3;
	display: grid;
	grid-template-areas: 'gallery-number gallery-title' 
						 'gallery-link ...'
						 'gallery-link gallery-tags' ;
	grid-template-columns: 8rem auto;
	grid-template-rows: 8rem auto 3rem;

}

.gallery__item-number {
	grid-area: gallery-number;
	font-size: 6rem;
	font-size: clamp(2.5rem,9vw,6.5rem);
	justify-self: end;
	padding-right: 2rem;
	color: var(--font-color);
}

.gallery__item-title {
	grid-area: gallery-title;
	margin: 0;
	font-size: 4rem;
	font-size: clamp(2rem,5vw,4rem);
	color: var(--work-title);
}

.gallery__item-number,
.gallery__item-title,
.gallery__text {
	font-family: var(--main-font);
	font-weight: 800;
	font-style: italic;
	align-self: center;
}

.gallery__item-link {
	grid-area: gallery-link;
	align-self: end;
	font-size: 1.5rem;
	background: var(--main-color);
	color: var(--color-gallery-link);
	text-decoration: underline;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.gallery__item-link:focus,
.gallery__item-link:hover {
	background: var(--main-color-hover);
	color: var(--font-color);
	text-decoration: none;
}

.gallery__item-tags {
	grid-area: gallery-tags;
	justify-self: end;
	font-size: 1.5rem;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 1rem;
	cursor: pointer;
}

.gallery__text {
	font-size: 20vw;
	line-height: 0.8;
	margin: 0 10vw 0 14vw;
 	color: var(--font-color);
	color: transparent;
	-webkit-text-fill-color: #fff;
    text-align: center;
    font-family: var(--main-font);
    font-style: normal;
}

.gallery__text-inner {
	display: block;
}